<div class="card group/card">
  <div [routerLink]="['/details',product.slug ,product._id]" class="cursor-pointer">
    <div class="relative max-w-sm rounded-lg overflow-hidden shadow-lg">
      <img class="w-full h-64" [src]="product.imageCover" [alt]="product.title" title="{{product.title}}">

      <button title="wish" type="button" (click)="toggleWishlist($event)"
        class="absolute top-3 right-3 z-20 bg-white/60 p-2 rounded-full shadow transition hover:scale-110">
        <i class="text-xl"
          [ngClass]="liked? 'fa-solid fa-heart text-red-500' : 'fa-regular fa-heart text-gray-600'"></i>
      </button>
    </div>
    <h3 class="text-sm text-gray-500 mb-1">{{product.category.name}}</h3>
    <h4 class="text-lg font-semibold text-gray-800 mb-2 line-clamp-1 hover:text-red-600 transition-colors">{{product.title |titlecase}}</h4>
    <div class="flex flex-wrap items-center justify-between pb-2">
      <span>{{product.price | currency:'GBP'}}</span>
      <span class="flex items-center text-sm">
        <i class="fas fa-star text-yellow-500 mr-1"></i>
        {{product.ratingsAverage}}
      </span>
    </div>
  </div>

  <button type="button" (click)="addToCart(product._id)" class="btn-main">Add to
    cart</button>
</div>

