<section class="border border-gray-200 shadow-xs rounded bg-grey-200 md:w-1/2 mx-auto p-4">
  <div class="title">
    <h2 class="mb-3 text-red-500 font-medium text-3xl text-center">Check out</h2>
  </div>

  <form [formGroup]="checkOutForm">
    <div formGroupName="shippingAddress">
      <div class="mb-3">
        <label for="details" class="main-label">Details</label>
        <textarea formControlName="details" id="details" class="main-input"></textarea>
      </div>

      <div class="mb-3">
        <label for="phone" class="main-label">Phone</label>
        <input formControlName="phone" type="tel" id="phone" class="main-input" />
      </div>
      <div class="mb-3">
        <label for="city" class="main-label">City</label>
        <input formControlName="city" type="text" id="city" class="main-input" />
      </div>
    </div>



    <div class="flex flex-wrap justify-end mb-3 gap-3">
      <button type="button" (click)="onSubmitCheckout('visa')" class="btn-main px-3">
        Payment with Visa
      </button>
      <button type="button" (click)="onSubmitCheckout('cash')" class="btn-main px-3">
        Cash Payment
      </button>
    </div>


  </form>
</section>
