<section class="pb-16 flex ">
  <div>
    <owl-carousel-o [options]="mainSliderCustom">
      <ng-template carouselSlide>
        <div>
          <div>
            <img class="w-full" src="/assets/images/img1.avif" alt="banner image">
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div>
          <div>
            <img class="w-full" src="/assets/images/img4.avif" alt="banner image">
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div>
          <div>
            <img class="w-full" src="/assets/images/img2.avif" alt="banner image">
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div>
          <div>
            <img class="w-full" src="/assets/images/img3.avif" alt="banner image">
          </div>
        </div>
      </ng-template>

    </owl-carousel-o>
  </div>
</section>
