<header class="fixed top-0 start-0 z-20 w-full">
  <nav class="bg-neutral-primary  border-b border-gray-200">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-2xl px-6 p-2">
      <!-- toggle button -->
      <button (click)="toggleMenu()" title="btn" type="button"
        class="lg:hidden p-2 w-10 h-10 text-body text-sm rounded-base hover:bg-neutral-secondary-soft">
        <i class="fa fa-bars text-xl"></i>
      </button>

      <!-- links -->
      <div class="flex items-center">
        <ul class="hidden lg:flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">

          <li>
            <a routerLink="home" routerLinkActive="font-bold" class="text-heading hover:underline"
              aria-current="page">Home</a>
          </li>
          <li>
            <a routerLink="/products" routerLinkActive="font-bold" class="text-heading hover:underline"
              aria-current="page">Products</a>
          </li>
          <li>
            <a routerLink="/categories" routerLinkActive="font-bold" class="text-heading hover:underline"
              aria-current="page">Categories</a>
          </li>
          <li>
            <a routerLink="/brands" routerLinkActive="font-bold" class="text-heading hover:underline"
              aria-current="page">Brands</a>
          </li>
        </ul>
      </div>
      <!-- number as the figma design -->
      <div class="hidden lg:flex items-center space-x-6 rtl:space-x-reverse">
        <a href="tel:5541251234" class="text-sm  text-body hover:underline">(013) 412-1234</a>
      </div>
    </div>


    <!-- mobile lonks -->


    <ul #mobileMenu [style.height.px]="isOpen? menuHeight : 0"
      class="lg:hidden absolute top-full left-0 w-full bg-neutral-primary overflow-hidden transition-all duration-300 flex flex-col text-center text-sm font-medium">

      <li>
        <a routerLink="home" routerLinkActive="font-bold" class="text-heading hover:underline"
          aria-current="page">Home</a>
      </li>
      <li>
        <a routerLink="/products" routerLinkActive="font-bold" class="text-heading hover:underline"
          aria-current="page">Products</a>
      </li>
      <li>
        <a routerLink="/categories" routerLinkActive="font-bold" class="text-heading hover:underline"
          aria-current="page">Categories</a>
      </li>
      <li>
        <a routerLink="/brands" routerLinkActive="font-bold" class="text-heading hover:underline"
          aria-current="page">Brands</a>
      </li>
    </ul>



  </nav>
  <!-- line two of nav bar -->
  <nav class="bg-neutral-primary border-default ">
    <div class="flex justify-between items-center mx-auto max-w-screen-2xl px-6 p-4">
      <div>
        <!-- logo -->
        <a routerLink="/home" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="/assets/images/freshcart-logo.svg" class="h-7" alt="Logo" />
        </a>
      </div>

      <!-- searchbar -->
      <div class="hidden lg:flex shadow-xs rounded-base mx-auto">
        <input type="search" id="search"
          class="px-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm focus:ring-black focus:border-black block placeholder:text-body"
          placeholder="Search for products" required [(ngModel)]=searchtext (ngModelChange)="onSearch()">
        <button type="button" title="searchbtn" class="inline-flex items-center text-whiteb btn-main">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>

      <!-- mobile search -->
      <div class="flex lg:hidden w-full mt-3">
        <input type="search" id="search"
          class="w-full px-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm focus:ring-black focus:border-black block placeholder:text-body"
          placeholder="Search for products" required [(ngModel)]=searchtext (ngModelChange)="onSearch()">
        <button type="button" title="searchbtn" class="inline-flex items-center text-whiteb btn-main">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>

      <!-- second links -->
      <div class="flex items-center">
        <ul class="hidden lg:flex font-medium space-x-6 text-sm">
          @if(isLogin === true){
          <li>
            <a routerLink="/profile" routerLinkActive="font-bold" class="text-heading hover:underline"
              aria-current="page">Profile</a>
          </li>
          <li>
            <a routerLink="/cart" routerLinkActive="font-bold" class="text-heading hover:underline"
              aria-current="page">Cart</a>
          </li>
          <li>
            <a routerLink="/wishlist" routerLinkActive="font-bold" class="text-heading hover:underline"
              aria-current="page">Wishlist</a>
          </li>
          <li>
            <a (click)="signOut()" class="text-heading hover:underline cursor-pointer" aria-current="page">SignOut</a>
          </li>
          } @else {
          <li>
            <a routerLink="/login" routerLinkActive="font-bold" class="text-heading hover:underline"
              aria-current="page">Login</a>
          </li>
          <li>
            <a routerLink="/register" routerLinkActive="font-bold" class="text-heading hover:underline"
              aria-current="page">Register</a>
          </li>
          }

        </ul>
      </div>
    </div>
  </nav>
</header>