@if(productDetailsData().category){
<section class="py-12 bg-white">
  <div class="container mx-auto max-w-screen-7xl px-6 mb-4">
    <div class="flex flex-col md:flex-raw gap-10 items-start">
      <div class="flex gap-4">
        <div class="bg-gray-100 col-md-4 p-8 min-h-100px">
          <img [src]="productDetailsData().imageCover" [alt]="productDetailsData().title"
            title="{{productDetailsData().title}}">
        </div>

        <div class="w-full flex-col gap-4">
          <h2 class="text-2xl font-bold text-gray-800 pb-2 ">{{productDetailsData().title}}</h2>
          <p class="text-gray-500 text-sm pb-2">{{productDetailsData().description}}</p>

          <div class="flex items-center gap-2">
            <div class="flex text-orange-400 text-lg">
              @for(star of [1,2,3,4,5] ; track star){
              <i class="fas fa-star text-yellow-500"></i>
              }
            </div>
            <span class="text-gray-500 text-sm"> ({{productDetailsData().ratingsAverage}}Review)</span>
          </div>

          <hr class="border-gray-200">

          <div class="grid grid-cols-2 gap-y-3 text-sm">
            <span class="font-semibold text-gray-700">Brand</span>
            <span class="text-gray-500">: {{ productDetailsData().brand.name }}</span>
            <span class="font-semibold text-gray-700">Category</span>
            <span class="text-gray-500">: {{ productDetailsData().category.name }}</span>
          </div>
          <hr class="border-gray-200">

          <div class="flex items-center gap-3">
            <span class="text-2xl font-bold text-orange-500">
              {{ productDetailsData().price }} EGP
            </span>
          </div>

<div class="flex item-center gap-3">
          <button class="btn-main" (click)="addToCart(productDetailsData()._id)">Add
            to cart</button>
          <button (click)="toggleWishlist($event)" title="wishlist"
            class="p-2.5 border border-gray-300 rounded-lg hover:border-orange-400 hover:text-orange-500 transition-colors text-gray-500">
            <i class="text-lg" [ngClass]="liked ? 'fa-solid fa-heart text-red-500' : 'fa-regular fa-heart'"></i>
          </button>
</div>

        </div>
      </div>
    </div>
  </div>
</section>

}
